each podcast in podcasts
    tr(data-id=podcast._id) 
        td 
            p(class='titulo-fila')=podcast.titulo
        td
            p(class='duracion-fila')=podcast.duracion
        td 
            p(class='episodio-fila')=podcast.episodio 
        td 
            p(class='temporada-fila')=podcast.temporada 
        td 
            p(class='fecha-fila')=podcast.fechaFormateada
        td 
            p
                span(class='material-icons play play-button-table btn btn-light') play_circle
        td(class='d-none')
            img(src=podcast.imagen, alt='Imagen del podcast', class='imagen-dentro-de-tabla')
        td(class='d-none')
            audio(src=podcast.audio, class='audio-dentro-de-tabla')