each podcast in podcasts //Lo del id falla
    tr(data-id=podcast.id) 
        td 
            p(class='titulo-fila')=podcast.titulo
        td 
            p(class='episodio-fila')=podcast.episodio 
        td 
            p(class='temporada-fila')=podcast.temporada 
        td 
            p(class='fecha-fila')=podcast.fecha
        td 
            p
                span(class='material-icons play play-button-table btn btn-light') play_circle
        td(class='d-none')
            img(src=podcast.imagen, alt='', class='imagen-dentro-de-tabla')
        td(class='d-none')
            audio(src=podcast.audio, class='audio-dentro-de-tabla')