each review in reviews
    tr
        td(class='d-none')
            p(class='podcastId-fila')=review.podcastId
        td
            p(class='autor-fila')=review.autor
        td
            p(class='fecha-fila')=review.fechaFormateada
        td
            p(class='puntuacion-fila')=review.puntuacion
        td
            p(class='texto-fila')=review.texto


        