each podcast in podcasts 
    tr 
        td 
            p(class='titulo-fila')=podcast.titulo
        td 
            p=podcast.episodio 
        td 
            p=podcast.temporada 
        td 
            p=podcast.fecha
        td 
            p(class='material-icons play play-button-table btn btn-light')
        td
            img(src=podcast.imagen, alt='', class='imagen-dentro-de-tabla')
        td
            audio(src=podcast.audio, class='audio-dentro-de-tabla')